@using BabyTracker.Constants;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BabyTracker</title>

    <link href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/site.css">

    @RenderSection("Stylesheets", required: false)

    <script src="/js/html2canvas.min.js"></script>
    <script src="/js/FileSaver.min.js"></script>

    <script src="/js/jquery.min.js"></script>

    @RenderSection("HeaderScripts", required: false)
</head>
<body data-bs-theme="@ViewBag.Theme?.ToString().ToLower()">
    <header>
        @await Html.PartialAsync("_NavBar")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    &copy; 2020 - 2023 : BabyTracker
                </div>
                
                @if (ViewData.ContainsKey("LastEntry")) {
                    <div class="col order-sm-last order-first">
                        Last entry: @ViewData["LastEntry"]
                    </div>
                }           
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/63a5893d45.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    @if (ViewBag.Theme == ThemesEnum.Auto)
    {
        <script>
            function setTheme() {
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', 'light')
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                setTheme()
            })

            setTheme()
        </script>
    }
</body>
</html>
