@model ActivityModel

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Activity
    </td>
    <td>
        <img src="~/img/icon_review_activity.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-success">@Model.OtherActivity</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
        @if (!string.IsNullOrEmpty(Model.Filename))
        {
            <br /><a href="~/picture/@Model.Filename" target="_blank"><img src="~/picture/@Model.Filename/thumbnail" width="200" /></a>
        }
    </td>
    <td>
        <div class="card" id="activity_@Model.Time.Ticks">
            @if (!string.IsNullOrEmpty(Model.Filename))
            {
                <img class="card-img-top" src="~/picture/@Model.Filename/thumbnail">
            }
            <div class="card-body">
                <h5 class="card-title text-success">@Model.OtherActivity</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()</small>
            </div>
            <a href="#" class="btn btn-primary btn-screenshot" onclick="saveCard('activity_@Model.Time.Ticks');return false;"><i class="fas fa-camera"></i> Screenshot</a>
        </div>
    </td>
</tr>