@model Formula

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Formula
    </td>
    <td>
        <img src="~/img/icon_review_formula.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-warning">Formula @Model.Amount ml</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
    <td>
        <div class="card" id="formula_@Model.Time.Ticks">
            <img class="card-img-top" src="~/img/icon_review_formula.png">
            <div class="card-body">
                <h5 class="card-title text-warning">Formula @Model.Amount ml</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()</small>
            </div>
        </div>
    </td>
</tr>