@model Growth

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Growth
    </td>
    <td>
        <img src="~/img/icon_review_growth.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-success">Growth Length: @Model.Length.ToString("n2") Weight: @Model.Weight.ToString("n2") Head: @Model.HeadSize.ToString("n2")</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
    <td>
        <div class="card" id="growth_@Model.Time.Ticks">
            <img class="card-img-top" src="~/img/icon_review_growth.png">
            <div class="card-body">
                <h5 class="card-title text-success">Growth Length: @Model.Length.ToString("n2") Weight: @Model.Weight.ToString("n2") Head: @Model.HeadSize.ToString("n2")</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()</small>
            </div>
        </div>
    </td>
</tr>