@using BabyTracker.Extensions;

@model BabyTracker.Models.Database.Joy

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Joy
    </td>
    <td style="width: 64px;">
        <img src="~/img/icon_review_joy.png" width="64" />
    </td>
    <td>
        @Model.Time.ToDateTimeLocal().ToShortTimeString()<br />
        <h5 class="bt-green-title">Joy</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <div class="pb-1 my-1 bt-green-background bt-entry-note">@Model.Note</div>
        }
        @if (!string.IsNullOrEmpty(Model.FileName))
        {
            <a href="~/picture/@Model.FileName" target="_blank"><img src="~/picture/@Model.FileName/thumbnail" width="200" /></a>
        }
    </td>
    <td>
        <div class="card" id="joy_@Model.Time.ToDateTimeLocal().Ticks">
            @if (!string.IsNullOrEmpty(Model.FileName))
            {
                <img class="card-img-top" src="~/picture/@Model.FileName">
            }
            <div class="card-body">
                <h5 class="card-title text-success">Joy</h5>
                <p class="card-text bt-entry-note">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToDateTimeLocal().ToShortDateString() @Model.Time.ToDateTimeLocal().ToShortTimeString()</small>
            </div>
            <a href="#" class="btn btn-primary btn-screenshot" onclick="saveCard('joy_@Model.Time.ToDateTimeLocal().Ticks');return false;"><i class="fas fa-camera"></i> Screenshot</a>
        </div>
    </td>
</tr>