@model SleepModel

<tr>
    <td>
        @Model.Time.ToShortDateString()
    </td>
    <td>
        Sleep
    </td>
    <td>
        <img src="~/img/icon_review_sleep.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-primary">Slept @Model.Duration</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
    <td>
        <div class="card" id="sleep_@Model.Time.Ticks">
            <img class="card-img-top" src="~/img/icon_review_sleep.png">
            <div class="card-body">
                <h5 class="card-title text-primary">Slept @Model.Duration</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()</small>
            </div>
            <a href="#" class="btn btn-primary btn-screenshot" onclick="saveCard('sleep_@Model.Time.Ticks')">Screenshot</a>
        </div>
    </td>
</tr>