@using BabyTracker.Extensions;

@model BabyTracker.Models.Database.Sleep

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Sleep
    </td>
    <td style="width: 64px;">
        <img src="~/img/icon_review_sleep.png" width="64" />
    </td>
    <td>
        @Model.Time.ToDateTimeLocal().ToShortTimeString()<br />
        @if (Model.Duration == 0) {
            <h5 class="bt-dark-green-title">Started sleeping</h5>
        } 
        else 
        {
            <h5 class="bt-dark-green-title">Slept @Model.DurationText</h5>
        }  
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <div class="pb-1 my-1 bt-entry-note">@Model.Note</div>
        }
    </td>
    <td>
        <div class="card" id="sleep_@Model.Time.ToDateTimeLocal().Ticks">
            <img class="card-img-top" src="~/img/icon_review_sleep.png">
            <div class="card-body">
                @if (Model.Duration == 0) {
                    <h5 class="card-title text-success">Started sleeping</h5>
                } 
                else 
                {
                    <h5 class="card-title text-success">Slept @Model.DurationText</h5>
                }               
                <p class="card-text bt-entry-note">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToDateTimeLocal().ToShortDateString() @Model.Time.ToDateTimeLocal().ToShortTimeString()</small>
            </div>
        </div>
    </td>
</tr>