@model SupplementModel

<tr>
    <td>
        @Model.Time.ToString("dd-MM-yyyy")
    </td>
    <td>
        Supplement
    </td>
    <td>
        <img src="~/img/icon_review_supplement.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToLocalTime().ToShortTimeString()<br />
        <h5 class="text-warning">@Model.Supplement @Model.Amount</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
    <td>
        <div class="card" id="supplement_@Model.Time.Ticks">
            <img class="card-img-top" src="~/img/icon_review_supplement.png">
            <div class="card-body">
                <h5 class="card-title text-success">@Model.Supplement @Model.Amount</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToLocalTime().ToShortTimeString()</small>
            </div>
        </div>
    </td>
</tr>