@using BabyTracker.Extensions;

@model BabyTracker.Models.Database.Temperature

<tr>
    <td>
        @Model.Time.ToDateTimeLocal().ToString("dd-MM-yyyy")
    </td>
    <td>
        Temperature
    </td>
    <td style="width: 64px;">
        <img src="~/img/icon_review_temperature.png" width="64" />
    </td>
    <td>
        @Model.Time.ToDateTimeLocal().ToShortTimeString()<br />
        <h5 class="bt-green-title">Temperature @Model.Temp.ToString("n1") &deg;C</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <div class="pb-1 my-1 bt-green-background bt-entry-note">@Model.Note</div>
        }
    </td>
    <td>
        <div class="card" id="temperature_@Model.Time.ToDateTimeLocal().Ticks">
            <img class="card-img-top" src="~/img/icon_review_temperature.png">
            <div class="card-body">
                <h5 class="card-title text-success">Temperature @Model.Temp.ToString("n1") &deg;C</h5>
                <p class="card-text bt-entry-note">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToDateTimeLocal().ToShortDateString() @Model.Time.ToDateTimeLocal().ToShortTimeString()</small>
            </div>
        </div>
    </td>
</tr>