@model TemperatureModel

<tr>
    <td>
        @Model.Time.ToShortDateString()
    </td>
    <td>
        Temperature
    </td>
    <td>
        <img src="~/img/icon_review_temperature.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-success">Temperature @Model.Temperature</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
    <td>
        <div class="card" id="temperature_@Model.Time.Ticks">
            <img class="card-img-top" src="~/img/icon_review_temperature.png">
            <div class="card-body">
                <h5 class="card-title text-success">Temperature @Model.Temperature</h5>
                <p class="card-text">@Model.Note</p>
                <small class="text-muted float-right">@Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()</small>
            </div>
            <a href="#" class="btn btn-primary btn-screenshot" onclick="saveCard('temperature_@Model.Time.Ticks')">Screenshot</a>
        </div>
    </td>
</tr>