@model VaccineModel

<tr>
    <td>
        @Model.Time.ToShortDateString()
    </td>
    <td>
        Vaccine
    </td>
    <td>
        <img src="~/img/icon_review_diaper.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-primary">@Model.Vaccine</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
    </td>
</tr>