@model BabyTracker.Models.ViewModels.BaseViewModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #bd4d85">
    <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">BabyTracker</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                @if (!string.IsNullOrEmpty(Model?.BabyName))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName">
                            @Model.BabyName                               
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/charts">
                            Charts                               
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/gallery">
                            Gallery                               
                        </a>
                    </li>
                }

                @if (Model?.ShowMemoriesLink == true)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/memories">
                            Memories
                            @if (Model?.MemoriesBadgeCount > 0)
                            {
                                <span class="badge bg-light text-dark">@Model.MemoriesBadgeCount</span>
                            }                               
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="fas fa-text-size"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="changeFontSize(1);">XXX-Large</a></li>
                        <li><a class="dropdown-item" onclick="changeFontSize(2);">XX-Large</a></li>
                        <li><a class="dropdown-item" onclick="changeFontSize(3);">X-Large</a></li>
                        <li><a class="dropdown-item" onclick="changeFontSize(4);">Large</a></li>
                        <li><a class="dropdown-item" onclick="changeFontSize(5);">Medium</a></li>
                        <li><a class="dropdown-item" onclick="changeFontSize(6);">Small</a></li>
                    </ul>
                </li>

                @if (Model != null &&
                     User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle article-img" src="@Model.ProfileImageUrl" height="30" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@Model.NickName"/>
                            @Model.NickName
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/import">Import</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/account/logout">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/account/login">
                            <i class="fas fa-user-circle"></i>
                            Login                               
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<script>
    function changeFontSize(size) {
        $(".bt-entry-note")
            .removeClass("fs-1 fs-2 fs-3 fs-4 fs-5 fs-6");
        $(".bt-entry-note")
            .addClass(`fs-${size}`)
    }
</script>