@model BabyTracker.Models.ViewModels.ChartsViewModel

@{
    ViewData["Title"] = "Charts - BabyTracker";
}

<h3 class="text-success text-center">Length/Height</h3>

<canvas id="lengthChart"></canvas>

<h3 class="text-success text-center">Weight</h3>

<canvas id="weightChart"></canvas>

<h3 class="text-success text-center">Head Size</h3>

<canvas id="headSizeChart"></canvas>

<h3 class="text-success text-center">BMI</h3>

<canvas id="bmiChart"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>

    <script>
        function GetChartOptions(xAxesLabel, yAxesLabel) {
            return {
                scales: {
                    x: {
                        title: {
                            text: xAxesLabel,
                            display: true
                        }
                    },
                    y: {
                        title: {
                            text: yAxesLabel,
                            display: true
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    datalabels: {
                        formatter: function(value, context) {
                            if (context.dataIndex === context.dataset.data.length - 1)
                            {
                                return context.dataset.label;
                            }
                            return "";
                        },
                        align: 'right'
                    }
                },
                layout: {
                    padding: {
                        right: 50
                    }
                }
            }
        }
    </script>

    <script>
        var ctx = document.getElementById('weightChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Weight',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(189,77,133)',
                    showLine: true,
                    lineTension: 0,
                    data: @Html.Raw(Model.WeightPointsAsJson) 
                },{
                    label: '50%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.WeightPointsSD0) 
                },{
                    label: '97%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.WeightPointsSD2) 
                },{
                    label: '3%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.WeightPointsSD2neg) 
                }
                ]
            },
            options: GetChartOptions('age (month)', 'weight (kg)'),
            plugins: [ChartDataLabels]
        });
    </script>

    <script>
        var ctx = document.getElementById('lengthChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Length',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(189,77,133)',
                    showLine: true,
                    lineTension: 0,
                    data: @Html.Raw(Model.LengthPointsAsJson) 
                },{
                    label: '50%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.LengthPointsSD0) 
                },{
                    label: '97%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.LengthPointsSD2) 
                },{
                    label: '3%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.LengthPointsSD2neg) 
                }]
            },
            options: GetChartOptions('age (month)', 'length (cm)'),
            plugins: [ChartDataLabels]
        });
    </script>

    <script>
        var ctx = document.getElementById('headSizeChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Head Size',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(189,77,133)',
                    showLine: true,
                    lineTension: 0,
                    data: @Html.Raw(Model.HeadSizePointsAsJson) 
                },{
                    label: '50%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.HeadSizePointsSD0) 
                },{
                    label: '97%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.HeadSizePointsSD2) 
                },{
                    label: '3%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.HeadSizePointsSD2neg) 
                }]
            },
            options: GetChartOptions('age (month)', 'head size (cm)'),
            plugins: [ChartDataLabels]
        });
    </script>

    <script>
        var ctx = document.getElementById('bmiChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'BMI',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(189,77,133)',
                    showLine: true,
                    lineTension: 0,
                    data: @Html.Raw(Model.BMIPointsAsJson) 
                },{
                    label: '50%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.BMIPointsSD0) 
                },{
                    label: '97%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.BMIPointsSD2) 
                },{
                    label: '3%',
                    backgroundColor: 'rgb(0,0,0,0)',
                    borderColor: 'rgb(220,220,220)',
                    showLine: true,
                    data: @Html.Raw(Model.BMIPointsSD2neg) 
                }]
            },
            options: GetChartOptions('age (month)', 'BMI'),
            plugins: [ChartDataLabels]
        });
    </script>
}